.details-container {
  padding: 80px 150px;
  min-height: calc(100vh - 60px);
  height: 100%;
  font-size: 17px;
}

.oompa-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.image-container {
  width: 60%;
  height: 420px;
  padding-right: 15px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.details-image {
  width: 100%;
  position: relative;
  top: -35px;
}

.description-container {
  width: 39%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.name-container {
  padding-bottom: 50px;
}
.name {
  padding-bottom: 10px;
}

.name span {
  padding-right: 7px;
}

.gender {
  color: #676767;
  padding-bottom: 5px;
}

.profession {
  color: #676767;
  font-style: italic;
}

.description {
  line-height: 30px;
}
