.detailsContainer {
  padding: 80px 150px;
  height: 100%;
  font-size: 17px;
}

.errorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 60px);
}

.errorMessage {
  color: #ff0000;
  font-size: 25px;
  width: 30%;
  text-align: center;
}

.oompaContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.imageContainer {
  width: 60%;
  height: 420px;
  padding-right: 15px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.detailsImage {
  width: 100%;
  position: relative;
  top: -35px;
}

.descriptionContainer {
  width: 39%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.nameContainer {
  padding-bottom: 50px;
}
.name {
  padding-bottom: 10px;
}

.name span {
  padding-right: 7px;
}

.gender {
  color: #676767;
  padding-bottom: 5px;
}

.profession {
  color: #676767;
  font-style: italic;
}

.description {
  line-height: 30px;
}
