.home-container {
  width: 100vw;
  min-height: calc(100vh - 60px);
  height: 100%;
  padding: 50px 150px 0 150px;
  box-sizing: border-box;
}

.title {
  font-size: 60px;
  text-align: center;
  font-weight: normal;
  padding-top: 50px;
}

.subtitle {
  font-size: 45px;
  text-align: center;
  padding: 20px;
  color: #676767;
}

.cards-container {
  width: 100%;
  padding-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
